.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.freeBox {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 128px;
  margin-top: 64px;
}
.img__kjk40 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__kjk40 > picture > img {
  object-fit: cover;
}
.img__kjk40 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__pur2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__pur2 > picture > img {
  object-fit: cover;
}
.img__pur2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___02Agl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___02Agl > picture > img {
  object-fit: cover;
}
.img___02Agl > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sqNxD {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__sqNxD > picture > img {
  object-fit: cover;
}
.img__sqNxD > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__igPNk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__igPNk > picture > img {
  object-fit: cover;
}
.img__igPNk > .__wab_img-spacer > img {
  object-fit: cover;
}
