.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #1c1c1e;
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 960px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___6MbR0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___6MbR0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6MbR0 > :global(.__wab_flex-container) > *,
.freeBox___6MbR0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6MbR0 > :global(.__wab_flex-container) > picture > img,
.freeBox___6MbR0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qv3Ld {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.h2__tKZcJ {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
  line-height: 1;
}
.freeBox__pVzFk {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: MJeIZe0dw0Zf */;
  line-height: 28px;
  height: auto;
}
.button___9DehK:global(.__wab_instance) {
  position: relative;
}
.svg___78Na {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__wsY0W {
  color: #0a84ff /* plasmic-token: Iuc1PIcsFW56 */;
}
.svg__yLPsu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: Iuc1PIcsFW56 */;
}
.freeBox___2HXrZ {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__jbvSu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__upd59 {
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__hkB8I {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__q2Hac:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mzLug {
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__kzIoq {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem___6URfc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kyFa2 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__xz7Uk {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__jWkpI:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rfBcs {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg___8ASg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem___0Wkxo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tsrfu {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__ai26C {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
