.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__b7XQf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__b7XQf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__b7XQf > :global(.__wab_flex-container) > *,
.freeBox__b7XQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b7XQf > :global(.__wab_flex-container) > picture > img,
.freeBox__b7XQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gkzfq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gkzfq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gkzfq > :global(.__wab_flex-container) > *,
.freeBox__gkzfq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkzfq > :global(.__wab_flex-container) > picture > img,
.freeBox__gkzfq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dyOpu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__voRjo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__ddVwt {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
}
.freeBox__kpKm2 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  line-height: 28px;
}
.freeBox___2JO1C {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2JO1C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2JO1C > :global(.__wab_flex-container) > *,
.freeBox___2JO1C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2JO1C > :global(.__wab_flex-container) > picture > img,
.freeBox___2JO1C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__wx4Vl:global(.__wab_instance) {
  position: relative;
}
.svg__qgfvb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__vusXl {
  height: auto;
}
.svg__kQ6Dg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__m9Dz:global(.__wab_instance) {
  position: relative;
}
.svg___5Pt56 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__bmMjn {
  height: auto;
  font-weight: 400;
}
.svg__fsuuy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__x0Vfd {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__x0Vfd > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__x0Vfd > :global(.__wab_flex-container) > *,
.freeBox__x0Vfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x0Vfd > :global(.__wab_flex-container) > picture > img,
.freeBox__x0Vfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___2HZj {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__agTxD {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__agTxD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__agTxD > :global(.__wab_flex-container) > *,
.freeBox__agTxD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__agTxD > :global(.__wab_flex-container) > picture > img,
.freeBox__agTxD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___7ZbOz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7ZbOz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7ZbOz > :global(.__wab_flex-container) > *,
.freeBox___7ZbOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7ZbOz > :global(.__wab_flex-container) > picture > img,
.freeBox___7ZbOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__nj8EA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__c7JtC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__epX6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__ukIsf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zC3Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__zg0Ab {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__ea3UW {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ea3UW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ea3UW > :global(.__wab_flex-container) > *,
.freeBox__ea3UW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ea3UW > :global(.__wab_flex-container) > picture > img,
.freeBox__ea3UW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__znwyZ:global(.__wab_instance) {
  position: relative;
}
.divider__yjxSj:global(.__wab_instance) {
  position: relative;
}
.freeBox__ep1P2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ep1P2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ep1P2 > :global(.__wab_flex-container) > *,
.freeBox__ep1P2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ep1P2 > :global(.__wab_flex-container) > picture > img,
.freeBox__ep1P2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__rpQj4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__bqEm9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__uMWfg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: MJeIZe0dw0Zf */;
}
.divider___0UuUg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___8MrRm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__ug0PL {
  position: relative;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__wjDeN {
  object-fit: cover;
  width: 40px;
}
.img__wjDeN > picture > img {
  object-fit: cover;
}
.img__wjDeN > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___8UehA:global(.__wab_instance) {
  position: relative;
}
.svg___2IUol {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg___8Vhl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__aqFvz:global(.__wab_instance) {
  position: relative;
}
.svg___448Uu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__jaEt8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__zjG12:global(.__wab_instance) {
  position: relative;
}
.svg__xrisq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg___5Zke {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button___224Zq:global(.__wab_instance) {
  position: relative;
}
.svg__ybrem {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox___3DlU {
  height: auto;
}
.svg___7DQxR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__jh8Eb:global(.__wab_instance) {
  position: relative;
}
.svg__xjXD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__e8QQs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__jkrNt:global(.__wab_instance) {
  position: relative;
}
.svg__iwyyl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__hdOzs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__c9ShJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__huzhX {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__huzhX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__huzhX > :global(.__wab_flex-container) > *,
.freeBox__huzhX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__huzhX > :global(.__wab_flex-container) > picture > img,
.freeBox__huzhX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vqBe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  line-height: 1;
}
.freeBox__hgsP {
  font-size: 20px;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  text-align: left;
  line-height: 28px;
}
.freeBox__cjqOh {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__cjqOh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__cjqOh > :global(.__wab_flex-container) > *,
.freeBox__cjqOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjqOh > :global(.__wab_flex-container) > picture > img,
.freeBox__cjqOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__v0Nmd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__v0Nmd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__v0Nmd > :global(.__wab_flex-container) > *,
.freeBox__v0Nmd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v0Nmd > :global(.__wab_flex-container) > picture > img,
.freeBox__v0Nmd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v0Nmd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v0Nmd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v0Nmd > :global(.__wab_flex-container) > *,
  .freeBox__v0Nmd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v0Nmd > :global(.__wab_flex-container) > picture > img,
  .freeBox__v0Nmd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__nino0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__as1C0 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__p0Tfl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop___898Qf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x9OQa {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__gfphk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__jWsKl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q9BG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__y6Ko6 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__oSxFc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j1FzF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hg9ZF {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.freeBox__gV8Q {
  height: auto;
}
.freeBox___6TKiW {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___6TKiW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___6TKiW > :global(.__wab_flex-container) > *,
.freeBox___6TKiW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6TKiW > :global(.__wab_flex-container) > picture > img,
.freeBox___6TKiW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___1Ct9X {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1Ct9X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___1Ct9X > :global(.__wab_flex-container) > *,
.freeBox___1Ct9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Ct9X > :global(.__wab_flex-container) > picture > img,
.freeBox___1Ct9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Ct9X {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Ct9X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Ct9X > :global(.__wab_flex-container) > *,
  .freeBox___1Ct9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Ct9X > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Ct9X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__zp5Ni:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a3ZW {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__u6GSo {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.freeBox__xklL1 {
  height: auto;
}
.valueprop__dlsIr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ey1LA {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__gCZkv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__aBhKa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eNaVc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__fmJpu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__ciDEi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__acIAf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__rzH4C {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.freeBox___9EDc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__dmoVv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dmoVv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dmoVv > :global(.__wab_flex-container) > *,
.freeBox__dmoVv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dmoVv > :global(.__wab_flex-container) > picture > img,
.freeBox__dmoVv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9VB8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.h2___9SpEy {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
  line-height: 1;
}
.freeBox__tZqpK {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: MJeIZe0dw0Zf */;
  line-height: 28px;
  height: auto;
}
.button___2KwmX:global(.__wab_instance) {
  position: relative;
}
.svg___3I82Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__qnvF {
  color: #0a84ff /* plasmic-token: Iuc1PIcsFW56 */;
}
.svg__iCc9C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: Iuc1PIcsFW56 */;
}
.freeBox__kvyvA {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__xo2Ru:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ycKk8 {
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__priZ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__j7Zx6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ebrX {
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__vpzqr {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__j6EzE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__e58UH {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__dFv1S {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__bjlKg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__sMSm {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__ktYju {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.listItem__rkr9T:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xEjHv {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.svg__odYHq {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: n1d3b1mDiLCG */;
}
.freeBox___3ZXEk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___0Q0OR {
  display: flex;
  flex-direction: column;
}
.freeBox___0Q0OR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0Q0OR > :global(.__wab_flex-container) > *,
.freeBox___0Q0OR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Q0OR > :global(.__wab_flex-container) > picture > img,
.freeBox___0Q0OR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yYqSl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__pMzeq {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
  line-height: 1;
}
.freeBox__cdhoA {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: MJeIZe0dw0Zf */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__ao83N {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__ao83N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ao83N {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ao83N > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ao83N > :global(.__wab_flex-container) > *,
  .freeBox__ao83N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ao83N > :global(.__wab_flex-container) > picture > img,
  .freeBox__ao83N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___9LnZe {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9LnZe {
    border-radius: 16px;
  }
}
.freeBox__ccCv8 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__ccCv8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ccCv8 > :global(.__wab_flex-container) > *,
.freeBox__ccCv8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccCv8 > :global(.__wab_flex-container) > picture > img,
.freeBox__ccCv8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cToXk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__cMy3S {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cMy3S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cMy3S > :global(.__wab_flex-container) > *,
.freeBox__cMy3S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cMy3S > :global(.__wab_flex-container) > picture > img,
.freeBox__cMy3S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qqWxZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__iDcuo {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__f3Cm {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__iaHo {
  line-height: 28px;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__grr4R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__iw5E5 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__iw5E5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iw5E5 > :global(.__wab_flex-container) > *,
.freeBox__iw5E5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iw5E5 > :global(.__wab_flex-container) > picture > img,
.freeBox__iw5E5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__qpexN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qpexN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qpexN > :global(.__wab_flex-container) > *,
.freeBox__qpexN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpexN > :global(.__wab_flex-container) > picture > img,
.freeBox__qpexN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__i4C56:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hp64U {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__srZs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop___8MSTj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6CrUi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__rMde {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.svg__xuLy4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__tzaZf {
  height: auto;
}
.svg__eKsMj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__vnMqm {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: al_DzvDSRiYT */;
}
.freeBox___0XSu {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___0XSu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0XSu > :global(.__wab_flex-container) > *,
.freeBox___0XSu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0XSu > :global(.__wab_flex-container) > picture > img,
.freeBox___0XSu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___6FmgK {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__nAgP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__nAgP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nAgP > :global(.__wab_flex-container) > *,
.freeBox__nAgP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nAgP > :global(.__wab_flex-container) > picture > img,
.freeBox__nAgP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__sMlSo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nL7Zx {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__zqHi {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__gznUd {
  line-height: 28px;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__oduwe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__yoj0N {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__yoj0N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__yoj0N > :global(.__wab_flex-container) > *,
.freeBox__yoj0N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yoj0N > :global(.__wab_flex-container) > picture > img,
.freeBox__yoj0N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___68Mxp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___68Mxp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___68Mxp > :global(.__wab_flex-container) > *,
.freeBox___68Mxp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___68Mxp > :global(.__wab_flex-container) > picture > img,
.freeBox___68Mxp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__jcklT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nOxj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___7Aaua {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__tSDz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__kXckM {
  height: auto;
}
.svg___9ZmMe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__sAmru {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__gcwLr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8Blaj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__jU4B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop__jSt6C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__tc3A0 {
  height: auto;
}
.svg__r3YV4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__pxYVo {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.svg__jwnmv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__quimn {
  height: auto;
}
.svg___8DtkC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__s8Fp8 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s8Fp8 {
    border-radius: 16px;
  }
}
.freeBox___2VhNa {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___2VhNa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2VhNa > :global(.__wab_flex-container) > *,
.freeBox___2VhNa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2VhNa > :global(.__wab_flex-container) > picture > img,
.freeBox___2VhNa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mgJBy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__qkp7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qkp7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qkp7 > :global(.__wab_flex-container) > *,
.freeBox__qkp7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qkp7 > :global(.__wab_flex-container) > picture > img,
.freeBox__qkp7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__p4Gbe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__vJsAy {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__iSr8 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  width: auto;
  display: inline-block;
}
.freeBox__xQdSc {
  line-height: 28px;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__mHiRn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___3Ljml {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox___3Ljml > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___3Ljml > :global(.__wab_flex-container) > *,
.freeBox___3Ljml > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Ljml > :global(.__wab_flex-container) > picture > img,
.freeBox___3Ljml
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__dZt72 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dZt72 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dZt72 > :global(.__wab_flex-container) > *,
.freeBox__dZt72 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dZt72 > :global(.__wab_flex-container) > picture > img,
.freeBox__dZt72
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__sHe0Y:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p6UV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__pdX6J {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.valueprop___0Ssm0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yOp3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___3CVtj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: GqfcNfKbh6vT */;
}
.svg___58BzA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__ktGwQ {
  height: auto;
}
.svg___8WWet {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__b6St:global(.__wab_instance) {
  position: relative;
}
.img__yl6Jm {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__yl6Jm > picture > img {
  object-fit: cover;
}
.img__yl6Jm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fMdEf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__cP8Bb {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  line-height: 1;
  height: auto;
}
.svg__nIlEu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__imKls {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: ZENqPHkjRy-v */;
  white-space: pre;
  display: inline-block;
}
.svg__sf6Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__mNuWr {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__mNuWr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mNuWr > :global(.__wab_flex-container) > *,
.freeBox__mNuWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mNuWr > :global(.__wab_flex-container) > picture > img,
.freeBox__mNuWr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mNuWr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mNuWr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mNuWr > :global(.__wab_flex-container) > *,
  .freeBox__mNuWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mNuWr > :global(.__wab_flex-container) > picture > img,
  .freeBox__mNuWr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__yv8D {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__yv8D > picture > img {
  object-fit: cover;
}
.img__yv8D > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uzAfe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___0M2Eu {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  line-height: 1;
  height: auto;
}
.svg__bmKrb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__wulrg {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: ZENqPHkjRy-v */;
  white-space: pre;
  display: inline-block;
}
.svg__sePv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.banner__p0Jlv:global(.__wab_instance) {
  position: relative;
}
.img__zi3Mw {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__zi3Mw > picture > img {
  object-fit: cover;
}
.img__zi3Mw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__eplj8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__tgbNp {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: taGCM2n-SCSd */;
  line-height: 1;
  height: auto;
}
.svg__vPwlz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__np5D {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: ZENqPHkjRy-v */;
  white-space: pre;
  display: inline-block;
}
.svg__jLgzm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__w7P0D {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__w7P0D > picture > img {
  object-fit: cover;
}
.img__w7P0D > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vBlUh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vBlUh > picture > img {
  object-fit: cover;
}
.img__vBlUh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__kUj7F {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__kUj7F > picture > img {
  object-fit: cover;
}
.img__kUj7F > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vW8Oi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vW8Oi > picture > img {
  object-fit: cover;
}
.img__vW8Oi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__w62Ut {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__w62Ut > picture > img {
  object-fit: cover;
}
.img__w62Ut > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__q16Nb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__xxfn0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img___5WBwt {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__rWvdF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__pPO {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__pPO > picture > img {
  object-fit: cover;
}
.img__pPO > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial___0Cb9L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___2ZxZ {
  height: auto;
}
.freeBox__uv52R {
  height: auto;
}
.img__rySzh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__rySzh > picture > img {
  object-fit: cover;
}
.img__rySzh > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__fa6Ks:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___9Qhz {
  height: auto;
}
.img__yVUr {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__nTl3V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__nTl3V > picture > img {
  object-fit: cover;
}
.img__nTl3V > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ia24B {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__n2Nos {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__n2Nos > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__n2Nos > :global(.__wab_flex-container) > *,
.freeBox__n2Nos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n2Nos > :global(.__wab_flex-container) > picture > img,
.freeBox__n2Nos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__uOire {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
}
.freeBox__ddv5V {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7elPeIxRwO1H */;
  line-height: 1;
}
.freeBox__c1TDm {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: MJeIZe0dw0Zf */;
  line-height: 28px;
}
.freeBox__koyVt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__koyVt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__koyVt > :global(.__wab_flex-container) > *,
.freeBox__koyVt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__koyVt > :global(.__wab_flex-container) > picture > img,
.freeBox__koyVt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__wXwJ9:global(.__wab_instance) {
  position: relative;
}
.svg___4M1Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.svg__xCPc8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.button__mBqOk:global(.__wab_instance) {
  position: relative;
}
.svg__dCt9U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
.freeBox__lcO67 {
  height: auto;
  font-weight: 400;
}
.svg__rCYzy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: pPKlHqmrz-4F */;
}
